* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #1d1d21;
	color: #eee;
	font-family: monospace, sans-serif;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: black;
}

#content {
	position: fixed;
	top: 0; 
	width: 100%;
	text-align: center;
	z-index: 1;
	padding: 0 0 0;
}

#c {
	position: absolute;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #1d1d21;
}

.list-item {
	display: inline-block;
	width: 100vw;
	height: 100vh;
}

.list-item > div:nth-child(1) {
	width: 100%;
	height: 100%;
}

.checkbox {
  position: fixed;
}

#smooth {
  top: 50%;
  right: 22px;
  transform: translateY(80px);
}

#rotate {
  top: 50%;
  right: 22px;
  transform: translateY(100px);
}

.checkbox input {
  appearance: none;
  opacity: 0;
}

.checkspan {
  position: absolute;
  top: 0;
  right: 0;
  width: 14px;
  height: 14px;
  border: 2px solid white;
  border-radius: 50%;
  background: #1d1d21;
  transition: background-color 0.2s, border-radius 0.2s;
  cursor: pointer;
}

.checkbox:hover input ~ .checkspan {
  border-radius: 2px;
}

.checkbox input:checked ~ .checkspan {
  background: white;
}

#slider {
  position: fixed;
  -webkit-appearance: none;
  appearance: none;
  top: 50%;
  right: 30px;
  transform: rotate(90deg) translateX(50%);
  transform-origin: bottom right;
  height: 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background: white;
  outline: none;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border: 2px solid white;
  border-radius: 50%;
  background: #1d1d21;
  transition: background-color .2s;
  cursor: pointer;
}

#slider:hover::-webkit-slider-thumb {
  background: white;
}

#slider::-moz-range-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 2px solid white;
  border-radius: 50%;
  background: #1d1d21;
  transition: background-color .2s;
  cursor: pointer;
}

#uploadform {
  appearance: none;
  display: none;
}

#uploadLabel {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  padding: 5px;
  width: 50%;
  background: transparent;
  border: 2px solid white;
  border-radius: 20px;
  cursor: pointer;
  transition: border-radius 0.2s;
}

#uploadLabel:hover {
  border-radius: 5px;
}

#math {
  position: fixed;
  top: 10px;
  right: 30px;
  width: 80px;
  padding: 5px;
  background: none;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  font-family: monospace;
  outline: none;
  appearance: none;
}

#log {
  position: fixed;
  top: 10px;
  left: 30px;
  text-align: left;
  font-family: monospace;
  line-height: 19px;
}

.count {
  font-weight: 900;
  text-decoration: underline;
  text-underline-offset: 4px;
}
